# PROBLEM: "{{problem.url}}"
# DATETIME: "{{now}}"

def main():
    while True:
        try:
            # Some input "raw_input"
            # Some output
        except:
            pass
    

if __name__ == '__main__':
    main()

