# PROBLEM: "{{problem.url}}"
# DATETIME: "{{now}}"


def main():
    try:
        while True:
                input()
                # Some input "raw_input"
                # Some output
    except:
        pass


if __name__ == '__main__':
    main()

